{if $pages=="chapter" || $pages=="login"}
<footer class="section bordered" id="footer" role="contentinfo">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="sidebar-widget widget_categories">
						<ul>
							<li>
								Copyright © Supersoccer.co.id
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-8">
					<div class="sidebar-widget widget_tag_cloud">
						<ul>
							<li>
								<a href="{$basedomain}chapter/syarat">
									<span>Syarat &amp; Ketentuan</span>
								</a>
							</li>
							<li>
								<a href="{$basedomain}chapter/carabermain">
									<span>Cara Bermain</span>
								</a>
							</li>
							<li>
								<span>Support Hotline ( call/sms/whatsapp ) : 08xx xxxx xxx</span>
							</li>
							<li>
								<img src="{$basedomain}assets/images/design/custom-icons/ico-blackberry.png" style="padding:0 5px 0 10px"> <span>264a644</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div><!-- /#content -->
{/if}

{if $pages=="member"}
 <footer class="section bordered" id="footer" role="contentinfo">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="sidebar-widget widget_categories">
                                    <ul>
                                        <li>
                                            Copyright © Supersoccer.co.id
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="sidebar-widget widget_tag_cloud">
                                    <ul>
                                        <li>
                                            <a href="{$basedomain}member/syarat">
                                                <span>Syarat &amp; Ketentuan</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{$basedomain}member/carabermain">
                                                <span>Cara Bermain</span>
                                            </a>
                                        </li>
                                        <li>
                                            <span>Support Hotline ( call/sms/whatsapp ) : 08xx xxxx xxx</span>
                                        </li>
                                        <li>
                                            <img src="{$basedomain}assets/images/design/custom-icons/ico-blackberry.png" style="padding:0 5px 0 10px"> <span>264a644</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div><!-- /#content -->  
		
{/if}

{if $pages=="campus"}
<footer class="section bordered" id="footer" role="contentinfo">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="sidebar-widget widget_categories">
                                    <ul>
                                        <li>
                                            Copyright © Supersoccer.co.id
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="sidebar-widget widget_tag_cloud">
                                    <ul>
                                        <li>
                                            <a href="{$basedomain}campus/syarat">
                                                <span>Syarat &amp; Ketentuan</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{$basedomain}campus/carabermain">
                                                <span>Cara Bermain</span>
                                            </a>
                                        </li>
                                        <li>
                                            <span>Support Hotline ( call/sms/whatsapp ) : 08xx xxxx xxx</span>
                                        </li>
                                        <li>
                                            <img src="{$basedomain}assets/images/design/custom-icons/ico-blackberry.png" style="padding:0 5px 0 10px"> <span>264a644</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div><!-- /#content -->  
{/if}

{if $pages=="home" || $pages==""}
<footer class="section bordered no-padding" id="footer" role="contentinfo">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="sidebar-widget widget_categories">
                                    <ul>
                                        <li>
                                            Copyright © Supersoccer.co.id
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="sidebar-widget widget_tag_cloud">
                                    <ul>
                                        <li>
                                            <a href="campus/syarat">
                                                <span>Syarat &amp; Ketentuan</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="campus/carabermain">
                                                <span>Cara Bermain</span>
                                            </a>
                                        </li>
                                        <li>
                                            <span>Support Hotline ( call/sms/whatsapp ) : 08xx xxxx xxx</span>
                                        </li>
                                        <li>
                                            <img src="{$basedomain}assets/images/design/custom-icons/ico-blackberry.png" style="padding:0 5px 0 10px"> <span>264a644</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
        </div><!-- /#content -->
{/if}