{if $pages=='index'}
<div id="content" role="main">
            <section class="section" style="padding-top:90px">
                <div class="container">
                    <header class="section-header no-border">
                        <figure>
                            <img src="{$basedomain}assets/images/landing-banner_00.png">
                        </figure>
                    </header>
                    <div class="row">
                        <div class="btn-landing-holder">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <a href="{$basedomain}login/campus"><img src="{$basedomain}assets/images/btn_landing_campus.png"></a>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <a href="{$basedomain}login/community"><img src="{$basedomain}assets/images/btn_landing_community.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container -->
            </section>
{/if}