
{if $pages=="chapter" || $pages=="login" || $pages=="puzzle" || $pages=="tebakskor"}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SUPER SOCCER | CHAPTER</title>
<link rel="icon" type="image/x-icon" href="{$basedomain}assets/images/favicons/favicon.ico" />
<link rel="icon" type="image/png" href="{$basedomain}assets/images/favicons/favicon.png" />
<!-- For iPhone 4 Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{$basedomain}assets/images/favicons/apple-touch-icon-114x114-precomposed.png">
<!-- For iPad: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{$basedomain}assets/images/favicons/apple-touch-icon-72x72-precomposed.png">
<!-- For iPhone: -->
<link rel="apple-touch-icon-precomposed" href="{$basedomain}assets/images/favicons/apple-touch-icon-60x60-precomposed.png">
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
<link rel="stylesheet" href="{$basedomain}assets/css/bootstrap.min.css">
<link rel="stylesheet" href="{$basedomain}assets/css/theme.css">
<link rel="stylesheet" href="{$basedomain}assets/css/animation.css">
<link rel="stylesheet" href="{$basedomain}assets/css/color-defaults.css">
<link rel="stylesheet" href="{$basedomain}assets/css/swatch-black-white.css">
<link rel="stylesheet" href="{$basedomain}assets/css/swatch-red-white.css">
<link rel="stylesheet" href="{$basedomain}assets/css/swatch-white-black.css">
<link rel="stylesheet" href="{$basedomain}assets/css/swatch-white-red.css">
<link rel="stylesheet" href="{$basedomain}assets/css/fonts.css" media="screen">	
<link rel="stylesheet" href="{$basedomain}assets/css/paging.css" media="screen">
<link rel="stylesheet" href="{$basedomain}vendor/datetimepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" type="text/css" href="{$basedomain}assets/css/styles_upload.css" />

<script type="text/javascript" src="{$basedomain}assets/js/jquery.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/ajaxupload.3.5.js" ></script>
<script src="{$basedomain}assets/js/contentHelper.js"></script>
<script src="{$basedomain}assets/js/kipagination.js"></script>


{/if}

{if $pages=="puzzle" || $pages=="tebakskor"}
<link rel="stylesheet" href="{$basedomain}assets/css/suppersoccer-gte.css" media="screen">
<link rel="stylesheet" href="{$basedomain}assets/css/magnific-popup.css" media="screen">
<script src="{$basedomain}assets/js/jquery.magnific-popup.js"></script>
{/if}
{if $pages=="member"}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SUPER SOCCER | MEMBER</title>
<link rel="icon" type="image/x-icon" href="{$basedomain}assets/images/favicons/favicon.ico" />
<link rel="icon" type="image/png" href="{$basedomain}assets/images/favicons/favicon.png" />
<!-- For iPhone 4 Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{$basedomain}assets/images/favicons/apple-touch-icon-114x114-precomposed.png">
<!-- For iPad: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{$basedomain}assets/images/favicons/apple-touch-icon-72x72-precomposed.png">
<!-- For iPhone: -->
<link rel="apple-touch-icon-precomposed" href="{$basedomain}assets/images/favicons/apple-touch-icon-60x60-precomposed.png">
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
<link rel="stylesheet" href="{$basedomain}assets/css/bootstrap.min.css">
<link rel="stylesheet" href="{$basedomain}assets/css/theme.css">
<link rel="stylesheet" href="{$basedomain}assets/css/color-defaults.css">
<link rel="stylesheet" href="{$basedomain}assets/css/swatch-black-white.css">
<link rel="stylesheet" href="{$basedomain}assets/css/swatch-red-white.css">
<link rel="stylesheet" href="{$basedomain}assets/css/swatch-white-black.css">
<link rel="stylesheet" href="{$basedomain}assets/css/swatch-white-red.css">
<link rel="stylesheet" href="{$basedomain}assets/css/fonts.css" media="screen">
<link rel="stylesheet" href="{$basedomain}assets/css/paging.css" media="screen">
<link rel="stylesheet" type="text/css" href="{$basedomain}assets/css/styles_upload.css" />
<script type="text/javascript" src="{$basedomain}assets/js/jquery.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/ajaxupload.3.5.js" ></script>
<script src="{$basedomain}assets/js/contentHelper.js"></script>
<script src="{$basedomain}assets/js/kipagination.js"></script>

{/if}	

{if $pages=="campus"}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SUPER SOCCER | CAMPUS</title>
<link rel="icon" type="image/x-icon" href="{$basedomain}assets/images/favicons/favicon.ico" />
<link rel="icon" type="image/png" href="{$basedomain}assets/images/favicons/favicon.png" />
<!-- For iPhone 4 Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{$basedomain}assets/images/favicons/apple-touch-icon-114x114-precomposed.png">
<!-- For iPad: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{$basedomain}assets/images/favicons/apple-touch-icon-72x72-precomposed.png">
<!-- For iPhone: -->
<link rel="apple-touch-icon-precomposed" href="{$basedomain}assets/images/favicons/apple-touch-icon-60x60-precomposed.png">
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
<link rel="stylesheet" href="{$basedomain}assets/css/bootstrap.min.css">
<link rel="stylesheet" href="{$basedomain}assets/css/theme.css">
<link rel="stylesheet" href="{$basedomain}assets/css/color-defaults.css">
<link rel="stylesheet" href="{$basedomain}assets/css/swatch-black-white.css">
<link rel="stylesheet" href="{$basedomain}assets/css/swatch-red-white.css">
<link rel="stylesheet" href="{$basedomain}assets/css/swatch-white-black.css">
<link rel="stylesheet" href="{$basedomain}assets/css/swatch-white-red.css">
<link rel="stylesheet" href="{$basedomain}assets/css/fonts.css" media="screen">
<link rel="stylesheet" href="{$basedomain}assets/css/paging.css" media="screen">
<script type="text/javascript" src="{$basedomain}assets/js/jquery.js"></script>
<script src="{$basedomain}assets/js/contentHelper.js"></script>
<script src="{$basedomain}assets/js/kipagination.js"></script>
{/if}
		
{if $pages=="home" || $pages==""}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SUPER SOCCER</title>
        <link rel="icon" type="image/x-icon" href="assets/images/favicons/favicon.ico" />
        <link rel="icon" type="image/png" href="assets/images/favicons/favicon.png" />
        <!-- For iPhone 4 Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114-precomposed.png">
        <!-- For iPad: -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72-precomposed.png">
        <!-- For iPhone: -->
        <link rel="apple-touch-icon-precomposed" href="assets/images/favicons/apple-touch-icon-60x60-precomposed.png">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/theme.css">
        <link rel="stylesheet" href="assets/css/color-defaults.css">
        <link rel="stylesheet" href="assets/css/swatch-black-white.css">
        <link rel="stylesheet" href="assets/css/swatch-red-white.css">
        <link rel="stylesheet" href="assets/css/swatch-white-black.min.css">
        <link rel="stylesheet" href="assets/css/swatch-white-red.css">
        <link rel="stylesheet" href="assets/css/fonts.css" media="screen">		
{/if}		
	
		
		
<script>
var basedomain = "{$basedomain}" ;
var basedomainpath = "{$basedomainpath}" ;
var pages = "{$pages}" ;
var radiusmeter = "{$radiusmeter}" ;
</script> 