<html lang="en"> 
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SUPER SOCCER | MEMBER</title>
<link rel="icon" type="image/x-icon" href="http://localhost:8080/new_sscr/public_html/assets/images/favicons/favicon.ico" />
<link rel="icon" type="image/png" href="http://localhost:8080/new_sscr/public_html/assets/images/favicons/favicon.png" />
<!-- For iPhone 4 Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://localhost:8080/new_sscr/public_html/assets/images/favicons/apple-touch-icon-114x114-precomposed.png">
<!-- For iPad: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://localhost:8080/new_sscr/public_html/assets/images/favicons/apple-touch-icon-72x72-precomposed.png">
<!-- For iPhone: -->
<link rel="apple-touch-icon-precomposed" href="http://localhost:8080/new_sscr/public_html/assets/images/favicons/apple-touch-icon-60x60-precomposed.png">
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
<link rel="stylesheet" href="http://localhost:8080/new_sscr/public_html/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="http://localhost:8080/new_sscr/public_html/assets/css/theme.css">
<link rel="stylesheet" href="http://localhost:8080/new_sscr/public_html/assets/css/color-defaults.css">
<link rel="stylesheet" href="http://localhost:8080/new_sscr/public_html/assets/css/swatch-black-white.css">
<link rel="stylesheet" href="http://localhost:8080/new_sscr/public_html/assets/css/swatch-red-white.css">
<link rel="stylesheet" href="http://localhost:8080/new_sscr/public_html/assets/css/swatch-white-black.min.css">
<link rel="stylesheet" href="http://localhost:8080/new_sscr/public_html/assets/css/swatch-white-red.css">
<link rel="stylesheet" href="http://localhost:8080/new_sscr/public_html/assets/css/fonts.css" media="screen">
			
<script>
var basedomain = "http://localhost:8080/new_sscr/public_html/" ;
var basedomainpath = "" ;
var pages = "member" ;
var radiusmeter = "" ;
</script> 
</head>
  
<body class="chapter-league-home">  	

		
 <div class="slideout-menu">
	<h3><a href="#" class="slideout-menu-toggle">&times;</a></h3>
	<ul>
		<li><a href="member_about.html">About</a></li>
		<li><a href="member_event.html">Event</a></li>
		<li><a href="#">Trivia Quiz</a></li>
		<li><a href="#">Mini Games</a></li>
		<li><a href="member_leaderboard.html">Leaderboard</a></li>
		<li><a href="member_berita.html">Berita &amp; Pengumuman</a></li>
		<li><a href="#">Hadiah</a></li>
		<li><a href="member_profile.html">Profile</a></li>
	</ul>
</div>
<!--/.slideout-menu-->

<header id="masthead" class="header navbar navbar-sticky swatch-black-white navbar-stuck">
	<div class="container">
		<div class="menu-visible text-right">
			<div class="member-name-top"><a href="member_login.html">LOGIN</a></div>
			<div>|</div>
			<div class="member-point-top"><a href="member_profileedit.html">SIGN UP</a></div> 
			<a href="#" class="slideout-menu-toggle"><i class="fa fa-bars"></i></a>
		</div>
		<div class="text-right"></div>
	</div>
</header>
		
            <div id="content" role="main">
                <div class="centered-red-box">
                    <section class="section" style="padding-top:50px">
                        <div class="container">
                            <header class="section-header no-border">
                                <figure>
                                    <img src="http://localhost:8080/new_sscr/public_html/assets/images/supersoccer-logo.png">
                                </figure>
                                <figure>
                                    <img src="http://localhost:8080/new_sscr/public_html/assets/images/community-race.png">
                                </figure>
                            </header>
                            <div class="row welcome-text-holder">
                                <div class="col-md-6 col-md-offset-1">
                                    <p class="text-left">
                                        Supersoccer Campus League adalah program kompetisi antar Chapter di seluruh Indonesia, pecinta sepakbola Liga Inggris dan Italia.<br><br>
                                        Disini anda dapat mendaftarkan diri sebagai member dan memenangkan Supersoccer Community Race dengan bermain Supersoccer Football Manager untuk mengumpulkan poin dan berbagai challenge seru guna menjadi manager sepakbola terbaik di Supersoccer Football Manager
                                    </p>
                                </div>
                            </div>
                            <div class="row padding-top">
                                <div class="col-md-4">
                                    <figure>
                                        <img src="http://localhost:8080/new_sscr/public_html/assets/images/player_01.png">
                                    </figure>
                                </div>
                                <div class="col-md-8">
                                    <div class="portfolio isotope no-transition portfolio-rect portfolio-shadows row">
                                        <div class="portfolio-item infinite-item col-md-12 col-sm-12">
                                            <figure class="portfolio-figure">
                                                <a href="#">
                                                    <img width="600" height="518" src="http://localhost:8080/new_sscr/public_html/assets/images/dummy-video.png" class="img-responsive" alt="some image">
                                                </a>
                                                <figcaption>
                                                    <h4>
                                                        <a class="magnific-vimeo" href="http://www.youtube.com/watch?v=Sv3xVOs7_No">
                                                            Mau Lebih Update Tentang Bola?
                                                        </a>
                                                    </h4>
                                                    <p>masuk ke <a href="supersoccer.co.id" target="_blank">supersoccer.co.id</a> dan dapetin jutaan hal seru seputar dunia bola</p>
                                                    <a class="magnific-vimeo more" href="http://www.youtube.com/watch?v=Sv3xVOs7_No">
                                                        <i class="fa fa-search-plus"></i>
                                                    </a>
                                                    <!-- <a class="link" href="#">
                                                        <i class="fa fa-link"></i>
                                                    </a> -->
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="padding-top"></div>
                            <header class="section-header">
                                <h1 class="headline super headings-caps">Berita dan Pengumuman</h1>
                            </header>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-unstyled">
                                        <li class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p class="text-left" style="margin-top:150px">
                                                            Serunya Nonton Bareng MU Cilandak
                                                        </p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p class="huge text-right">30</p>
                                                        <p class="big text-right">AUG '16</p>
                                                        <a href="#">
                                                            <img src="http://localhost:8080/new_sscr/public_html/assets/images/news_01.png">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="margin-top:50px">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p class="huge text-left">30</p>
                                                        <p class="big text-left">AUG '16</p>
                                                        <a href="#">
                                                            <img src="http://localhost:8080/new_sscr/public_html/assets/images/news_02.png">
                                                        </a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p class="text-left" style="margin-top:150px">
                                                            Liputan Gathering<br>Liverpool Bintaro
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6" style="margin-top:150px">
                                                        <p class="text-left">
                                                            Keseruan Gathering Arsenal Cinere
                                                        </p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p class="huge text-right">30</p>
                                                        <p class="big text-right">AUG '16</p>
                                                        <a href="#">
                                                            <img src="http://localhost:8080/new_sscr/public_html/assets/images/news_01.png">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="margin-top:50px">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="huge text-left">30</div>
                                                        <div class="big text-left">AUG '16</div>
                                                        <a href="#">
                                                            <img src="http://localhost:8080/new_sscr/public_html/assets/images/news_02.png">
                                                        </a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p class="text-left" style="margin-top:150px">
                                                            Supersoccer World Football Manager di Bandung
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- /.container -->
                    </section>

                </div><!-- /.centered-red-box -->

                <section class="section">
                    <div class="container">
                        <header class="section-header no-border text-center">
                            <h1 class="headline super headings-caps">Leaderboard</h1>
                        </header>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-tabs" id="myTabOne">
                                    <li class="active">
                                        <a data-toggle="tab" href="#chapterTab">Chapter</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#memberTab">Member</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContentOne">
                                    <div class="tab-pane fade in active" id="chapterTab">
                                        <table class="table table-striped">
                                          <tr>
                                            <td>1</td>
                                            <td>MUHAMMAD CHEPI SETIAWAN</td>
                                            <td>Chelsea Kemang Jakarta</td>
                                            <td>42.131</td>
                                          </tr>
                                          <tr>
                                            <td>2</td>
                                            <td>ANDDY NURZAMAN</td>
                                            <td>MU Manggarai Jakarta</td>
                                            <td>40.913</td>
                                          </tr>
                                          <tr>
                                            <td>3</td>
                                            <td>BAYU NUR RAMADHAN</td>
                                            <td>Liverpool Gresik</td>
                                            <td>35.329</td>
                                          </tr>
                                          <tr>
                                            <td>4</td>
                                            <td>MUHAMMAD IHSANUDIN</td>
                                            <td>Liverpool Surabaya</td>
                                            <td>33.157</td>
                                          </tr>
                                          <tr>
                                            <td>5</td>
                                            <td>MOHAMMAD NADZIRIN VY_58</td>
                                            <td>MU Kediri</td>
                                            <td>29.466</td>
                                          </tr>
                                          <tr>
                                            <td>6</td>
                                            <td>TRIE YUNITA</td>
                                            <td>Chelsea Tangerang</td>
                                            <td>29.432</td>
                                          </tr>
                                          <tr>
                                            <td>7</td>
                                            <td>BAYU NUR RAMADHAN</td>
                                            <td>Arsenal Dago Bandung</td>
                                            <td>28.567</td>
                                          </tr>
                                          <tr>
                                            <td>8</td>
                                            <td>MUHAMMAD IHSANUDIN</td>
                                            <td>Chelsea Batu Malang</td>
                                            <td>27.778</td>
                                          </tr>
                                          <tr>
                                            <td>9</td>
                                            <td>MOHAMMAD NADZIRIN VY_58</td>
                                            <td>MU Kudus</td>
                                            <td>26.765</td>
                                          </tr>
                                          <tr>
                                            <td>10</td>
                                            <td>TRIE YUNITA</td>
                                            <td>Chelsea Bekasi</td>
                                            <td>25.546</td>
                                          </tr>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="memberTab">
                                        <table class="table table-striped">
                                            <tr>
                                                <td>1</td>
                                                <td>BAYU NUR RAMADHAN</td>
                                                <td>Arsenal Dago Bandung</td>
                                                <td>28.567</td>
                                            </tr>
                                          <tr>
                                            <td>2</td>
                                            <td>MUHAMMAD IHSANUDIN</td>
                                            <td>Chelsea Batu Malang</td>
                                            <td>27.778</td>
                                          </tr>
                                            <tr>
                                            <td>3</td>
                                            <td>ANDDY NURZAMAN</td>
                                            <td>MU Manggarai Jakarta</td>
                                            <td>40.913</td>
                                          </tr>
                                          <tr>
                                            <td>4</td>
                                            <td>BAYU NUR RAMADHAN</td>
                                            <td>Liverpool Gresik</td>
                                            <td>35.329</td>
                                          </tr>
                                          <tr>
                                            <td>5</td>
                                            <td>MUHAMMAD IHSANUDIN</td>
                                            <td>Liverpool Surabaya</td>
                                            <td>33.157</td>
                                          </tr>
                                          <tr>
                                            <td>6</td>
                                            <td>MOHAMMAD NADZIRIN VY_58</td>
                                            <td>MU Kudus</td>
                                            <td>26.765</td>
                                          </tr>
                                          <tr>
                                            <td>7</td>
                                            <td>TRIE YUNITA</td>
                                            <td>Chelsea Bekasi</td>
                                            <td>25.546</td>
                                          </tr>
                                          <tr>
                                            <td>8</td>
                                            <td>MUHAMMAD CHEPI SETIAWAN</td>
                                            <td>Chelsea Kemang Jakarta</td>
                                            <td>42.131</td>
                                          </tr>

                                          <tr>
                                            <td>9</td>
                                            <td>MOHAMMAD NADZIRIN VY_58</td>
                                            <td>MU Kediri</td>
                                            <td>29.466</td>
                                          </tr>
                                          <tr>
                                            <td>10</td>
                                            <td>TRIE YUNITA</td>
                                            <td>Chelsea Tangerang</td>
                                            <td>29.432</td>
                                          </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.container -->
                </section>
          	
				<footer class="section bordered" id="footer" role="contentinfo">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="sidebar-widget widget_categories">
                                    <ul>
                                        <li>
                                            Copyright © Supersoccer.co.id
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="sidebar-widget widget_tag_cloud">
                                    <ul>
                                        <li>
                                            <a href="member_syarat.html">
                                                <span>Syarat &amp; Ketentuan</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="member_carabermain.html">
                                                <span>Cara Bermain</span>
                                            </a>
                                        </li>
                                        <li>
                                            <span>Support Hotline ( call/sms/whatsapp ) : 08xx xxxx xxx</span>
                                        </li>
                                        <li>
                                            <img src="http://localhost:8080/new_sscr/public_html/assets/images/design/custom-icons/ico-blackberry.png" style="padding:0 5px 0 10px"> <span>264a644</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div><!-- /#content -->        		
<a class="go-top hex-alt" href="javascript:void(0)">
	<i class="fa fa-angle-up"></i>
</a>
<script src="http://localhost:8080/new_sscr/public_html/assets/js/packages.min.js"></script>
<script src="http://localhost:8080/new_sscr/public_html/assets/js/theme.min.js"></script>		
</body>
</html>