
/*------------------------------------------------------------------

[UI Elements Stylesheet]

-------------------------------------------------------------------*/

#eq span {
	height: 175px;
	float: left;
	margin: 15px;
}

.gravity .btn {
	width: 50px;
	margin-right: 1em;
}