
	<div  style="padding-left:191px;">
	<form method="POST" id="formLogin" action="{$basedoamin}register">
		<div><h1>register</h1></div>
		<div><h3>Username <input type="text" name="username"  /></h3></div>
		<div><h3>Password <input type="password" name="password"   /></h3></div>
		<div><h3>Re-Password <input type="password" name="repassword"   /></h3></div>
		<div><h3>name <input type="text" name="name"   /></h3></div>
		<div><h3>email <input type="text" name="email"   /></h3></div>		
		<input type="hidden" name="register" value="1" /> 
		<div><input type="submit" value="Register" /></div> 
	</form>
	<div><a href="{$basedoamin}login" >Back to Login Page</a></div>
	<div style="clear:both" ></div>
	</div>


	
