<div id="body">
	<div id="body-wrapper" class="relative">		
		
		<div id="body-main">
			<div id="newCampaign" class="main-content">		
				<div id="contentBox">
					<div id="theContent">
						<div class="round10 bgGrey" align="center" style="margin:0 auto; width: 400px; padding: 50px;">
							<div align="center" class="suksesMessage">
							  <h3>
								  <strong>{$msg|stripslashes}</strong>
							  </h3>			      
							</div>			    
						</div>
						<div style="margin: 0 auto 62px;width:100px;text-align:center;">
							<a class="msgButtonNext continue" rel="popup-new-group" href="{secureurl url=$onyes.url inline='true'}">{$onyes.label}</a>
							<a class="msgButtonNext continueErr" rel="popup-new-group" href="{secureurl url=$onno.url inline='true'}">{$onno.label}</a>
						</div>
					</div><!-- end #theContent -->
				</div><!-- end #contentBox -->
			</div>
		</div>
	</div>
</div>
