@import url('../fonts/Square721-BT-Bold/stylesheet.css');
@import url('../fonts/Square721-BT-Italic/stylesheet.css');
@import url('../fonts/Square721-BT-Roman/stylesheet.css');
@import url('../fonts/Square721-Cn-BT-Bold/stylesheet.css');
@import url('../fonts/Square721-Dm-Regular/stylesheet.css');
@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i';
@import 'https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i';

body {
  font-family: 'square721_btroman', sans-serif;
  font-weight: 400;
}
body input, body textarea, body select, body option {
  font-family: 'square721_btroman', sans-serif;
}

body .btn, body button {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

blockquote p, .section-header p {
  font-weight: 300;
}

.light {
  font-weight: 300 !important;
}

.hairline {
  font-weight: 100 !important;
}
.hairline strong {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'square721_cn_btbold', sans-serif;
}

.lead {
  font-weight: 300;
}
.lead strong {
  font-weight: 600;
}

#masthead .brand {
  font-weight: 300;
}
